<h1>Add a new driver</h1>

<%= form_for(@driver) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <br/>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :passenger_count %>
      <br/>
      <%= f.number_field :passenger_count %>
      <br/>

      <div>
        <div class="actions">
          <%= f.submit "Add driver" %>
        </div>
<% end %>
